.navbar{
    background-color: #614ea6;
    width: 100%;
}

.nav-item a{
    color:#fff;
    transition: .3s ease-in;
    margin-left: 17px;
}

.nav-item a:hover{
    color: #f21667;;
}

.far{
    margin-left: 15px;
}
